<html>
	<head>
	<title>About</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
	</head>
	<body>
	
	<div class="jumbotron" style="height:150px;padding:10"><h2><b><%= title%></b></h2></br>
	<div class="navbar-header">
	
	<a href="/">Index</a>&nbsp;&nbsp;
	<a href="about">About</a>&nbsp;&nbsp;
	<a href="contact">Contact</a>&nbsp;&nbsp;
	<%if(sessions!=''){%>
	<a href="logout">Logout</a>&nbsp;&nbsp;
	<a href="myrep">My Repository</a>&nbsp;&nbsp;
	<%}else{%>
	<a href="login">Login</a>&nbsp;&nbsp;
	<a href="register">Register</a>&nbsp;&nbsp;
	<%}%>
	</div>
	</div>
		<p>Mail your queries to us at:abc@xyz.com</p>
	</body>
</html>
