<html>
	<head>
	<title>My Repositories</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>



<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="jumbotron" style="height:125px;padding:10"><h2><b><%= title%></b></h2></br>
	<div id="header">
	
		<a href="/">Index</a>&nbsp;&nbsp;
		<a href="about">About</a>&nbsp;&nbsp;
		<a href="contact">Contact</a>&nbsp;&nbsp;
		<%if(sessions!=''){%>
		<a href="logout">Logout</a>&nbsp;&nbsp;
		<a href="myrep">My Repository</a>&nbsp;&nbsp;
		<%}else{%>
		<a href="login">Login</a>&nbsp;&nbsp;
		<a href="register">Register</a>&nbsp;&nbsp;
		<%}%>
	
	</div>
	</div>
	
	<div id="content" style="margin-top:50px">
	<p>Welcome, contribute to your code repositories OR add more !!!  </p>
	<form style="width=50%">
	
	<input type="email" id="mail" name="email" required/><br/>
	<input type="Button" id="b1" name="submit" value="Get repos!"/>
	</form>
	<table id="t1" border="1" class="table table-striped" style="width=50%">
		<thead>
		<th>Repo ID</th><th>Repo Name</th><th>Created Date</th><th>Updated Date</th>
		</thead>
		<tbody id="appendText">
		</tbody>
	</table>
	</div>
	<script>
		$('#b1').click(function(){
		var repo_email = $('#mail').val();
		$.getJSON('https://api.github.com/users/'+repo_email+'/repos',function(dat){
		for(var ind=0;ind<dat.length;ind++){
			$('#appendText').append('<tr><td>'+(dat[ind].id)+'</td><td>'+(dat[ind].name)+'</td><td>'+(dat[ind].created_at)+'</td><td>'+(dat[ind].updated_at)+'</td></tr>');
		}
		});
		});
	</script>​
	</body>
	 
</html>
