<html>
	<head>
	<title>Register Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>  


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
	</head>
	<body>
	
	<div class="jumbotron" style="height:125px;padding:10"><h2><b><%= title%></b></h2></br>
	<div id="header">
	
		<a href="/">Index</a>&nbsp;&nbsp;
		<a href="about">About</a>&nbsp;&nbsp;
		<a href="contact">Contact</a>&nbsp;&nbsp;
		<%if(sessions!=''){%>
		<a href="logout">Logout</a>&nbsp;&nbsp;
		<a href="myrep">My Repository</a>&nbsp;&nbsp;
		<%}else{%>
		<a href="login">Login</a>&nbsp;&nbsp;
		<a href="register">Register</a>&nbsp;&nbsp;
		<%}%>
	
	</div>
	</div>
	<div id="sidebar" style="float:right;width:200px;position:relative">
		<h3></h3>
	</div>
	<div id="content" style="margin-top:50px">
	
	

	
	<form method="POST" id="registration_form" action="/formfill"  >
	
	<div class="form-group">
		<label for="email">Email:</label><br/>
		<input type="email" name="email" id="email" required/>
	</div>
	
	<div class="form-group">
		<label for="password">Password:</label><br/>
		<input type="password" name="password" id="password" pattern="[a-zA-Z0-9]{8,12}" title="8 to 12 chars,alphabets capital/small with digits" required="required"/>
	</div>
	
	<div class="form-group">
		<label for="cpassword">Confirm Password:</label><br/>
		<input type="password" name="cpassword" id="cpassword" pattern="[a-zA-Z0-9]{8,12}" onfocusout="check(this)" title="8 to 12 chars,alphabets capital/small with digits" required="required"/>
	</div>

	<input type="Submit" class="btn btn-default" id="Submit"/></td></tr>
	
	</form>
</div>	
	<script>
		function check(){
			
			if(document.getElementById('cpassword').value != document.getElementById('password').value)
			{
				alert('Password and confirm password not same!');
			}
			else{
				document.registration_form.submit();
			}
		}
		</script>
	</body>
</html>
